/* Modules */
.catalog__wrapper { padding: 187px 0 100px; }

.catalog__wrapper .catalog__item { width: -webkit-calc(50% - 10px); width: calc(50% - 10px); }

.catalog__wrapper .catalog__item a { height: 440px; width: -webkit-calc(50% - 10px); width: calc(50% - 10px); }

.catalog__wrapper .catalog__img .bg_catalog { height: 440px; width: 100%; }

.catalog__item__txt { margin-top: 20px; padding: 20px 40px 20px 20px; background: #FFFFFF; border: 1px solid #EEEEEE; }

.catalog__item__txt p { margin-bottom: 0; }

.bg_catalog { width: 100%; max-width: 1296px; height: 700px; border: 1px solid #EEEEEE; }

.catalog3_section a, .catalog3_section_wrapper a { width: -webkit-calc(50% - 10px); width: calc(50% - 10px); }

.catalog3_section_wrapper a { width: -webkit-calc(50% - 10px); width: calc(50% - 10px); }

.catalog3_section { padding: 100px 0 100px; }

.catalog6_section_wrapper a { width: 100%; }

.why_description { text-align: center; }

.bg__example { background: #EEEEEE; }

.catalog4_section { padding: 100px 0 100px; }

.catalog4_section a { width: -webkit-calc(25% - 10px); width: calc(25% - 10px); }

.catalog4_section a .bg_catalog { height: 440px; }

.catalog6_section { padding: 100px 0 100px; }

.catalog6_section .bg_catalog { height: 440px; }

.fancybox-thumbs__list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.foo { display: none; }

.gradient_wrapper { background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), color-stop(3.34%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(2.17%, rgba(255, 255, 255, 0))), #F5F5F5; background: -o-linear-gradient(bottom, #FFFFFF 0%, rgba(255, 255, 255, 0) 3.34%), -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 2.17%), #F5F5F5; background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 3.34%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 2.17%), #F5F5F5; }
